html
    head
        title= title
        style.
            table td {
                width: 20px;
                height: 20px;
                border: 1px solid #000;
            }
            table td:hover{
                background-color: lightblue;
            }
    body
        table#gameboard

        script(src='js/generate-table.js')
            